#tags_list.zoom{ 'data-url'=>"/part/main/tags:#{@object.token}", :style=>"z-index:1; position:relative; margin-top:5px;" }
  %p
    %small Click on the label to label the #{@object.class.name.downcase}

  %span.w.toggle
    .on
      %button.label.label-primary.show-on-hover{ :onclick=>"$w(this).toggle(); $('#add_tag').focus()" } + add
    .off
      %div{ :style=>"padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ccc; width:320px;" }
        %input{ :style=>"padding:2px; position:relative; top:1px; font-size:9pt; width:140px;", :id=>'add_tag' }
        %button.label.label-default{ :onclick=>"Tag.add('#{@object.class.name.tableize}/#{@object.id}')" } add label
        %span{ :style=>"font-size:11pt; color:#aaa;" }
          or <a onclick="$w(this).toggle()" style="text-decoration:underline;">close</a>

  - for tag in @object.class.name.constantize.my.all_tags
    %button.label{ :onclick=>"Tag.toggle(this, '#{@object.class.name.tableize}/#{@object.id}', '#{tag.name}')", :class=>@object.tags.index(tag.name) ? 'label-primary' : 'label-default' }= tag.name

