- @tags = @klass.can.all_tags

- if @tags.empty?
  There are not defiend labels for #{@klass.to_s.downcase.pluralize}
- else
  %div{ :style=>"zoom:110%;" }
    - for tag in @tags
      %a.label{ :class=>(Page.params.suffix == tag.name ? 'label-primary' : 'label-default'), :href=>"/#{@klass.name.tableize}:#{tag.name}", :style=>"margin-right:5px;" }
        #{tag.name}
        = tag.cnt.to_i > 1 ? "(#{tag.cnt})" : ''
%hr
