!!!
%html{:lang => "en"}
  %head
    %title StashBuckets
    = Asset.jquery 
    = Asset.css 'main/index.scss'
    = Asset.css 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300,600'
    = Asset.js  'main/index.coffee'
  %body
    #full-page
      .main-menu{ :class=>@class  }
        .colorize
          - if @class
            %div{ :class=>@class }
          - else
            .buckets
            .links
            .notes

        .navbar
          .container
            %ul.main{ :style=>"border-left:1px solid #eee;" }
              = main_menu
            - if User.current
              %form{ :action=>'/search' }
                %input{ :name=>:q, :placeholder=>'search...', :value=>params[:q] }
            %ul.pull-right= sub_menu

    
      - if @top_info
        .top-info{ :style=>"background-color:#FBB; padding:10px 0; margin-top:-20px; color:#555; margin-bottom:30px;" }
          .container= @top_info

      .container#content{ :style=>"min-height:900px;" }
        = yield

        = base_js

    #footer
      .container
        LeanBookmarks.com &bull; @dux &bull; #{DateTime.now.year}
