!!!
%html{:lang => "en"}
  %head
    %title StashBuckets
    = Asset.jquery 
    = Asset.css 'main/index.scss'
    = # Asset.css 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic'
    = Asset.css 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300,600'
    = Asset.js  'main/index.coffee'
  %body{ :class=>@class  }
    #full-page
      .colorize
        - if @class
          %div{ :class=>@class }
        - else
          .buckets
          .links
          .notes

      .navbar
        .container
          %ul.main= main_menu

          %ul.pull-right
            - if User.current
              %li
                %a{ :href=>'/users/bye' } Log off
              %li
                %a{ :href=>'/users/profile' }= User.current.email
            - else
              %li
                %a{ :href=>'/login' } Login or signup

      .container#content
        = yield

        = base_js
