%h5= @domain.name

= form '/api/domains/set_domain_data', :ver do
  = input :d, :value=>@domain.name, :as=>:hidden
  = input :description, :value=>@domain.description, :as=>:memo, :label=>'Domain description', :style=>"height:300px;"
  = submit 'Set domain description'
