- if @domain.description?
  = @domain.description.chomp.gsub(/\n/,'<br />')
  %hr

= form @link, :template=>:ver, :done=>:refresh do
  = input :name, :id=>'bm_name', :value=>params[:title]
  = input :is_article, :as=>:checkbox
  = input :url
  = input :tags, :as=>:tag
  = input :description, :as=>:memo, :id=>'bm_desc', :style=>"height:95px;"
  = submit @link.id ? 'Update existing' : 'Create link'

- unless @link.id
  :coffee
    Api.silent '/api/links/get_title', { url:'#{params[:url]}' }, (res) ->
      $('#bm_name').val(res.data.name)
      $('#bm_desc').val(res.data.description)

%hr

- unless @link.id
  %h5 create by tag

  = labels Link.my.all_tags, lambda { |el| "javascript:Api.send('links/create', { name:$('#bm_name').val(), description:$('#bm_desc').val(), url:'#{params[:url]}', tag:'#{el}' }, function(){ Pjax.refresh() })" }

  %hr

- if @links.empty?
  %p no bookmarks on domain
- else
  %ul.list
    - for el in @links
      %li
        = link_to el.name.trim(100), el.path
        - if el.description
          %br
          %small= el.description
