= render layout:'layout' do

  - for link in (@links=Bookmark.desc.my.pg(params[:page], 10))
    %a{ :href=>link.url, :style=>"display:block;" }
      %div{ :style=>"color:#fff; position:absolute; margin:10px; text-shadow:0 0 4px #222;" }
        %h4{ :style=>"color:#fff;" }= link.name
        %h5{ :style=>"color:#fff;" }= App.ago(link.created_at)
      = image_tag link.thumbnail, :style=>"width:100%; margin-bottom:20px; border:1px solid #aaa; border-radius:4px;"


  = will_paginate @links, :page_links=>false
