.row{ :style=>"margin-top:7px;" }
  .col-1
    - if @notes.present?
      %h4 Note#{@notes.length > 1 ? :s : ''}
      - for @note in @notes
        = render @note
  .col-1
    - if @bucket.description?
      .w.markdown.bucket.note{ :style=>"width:100%; padding:15px;" }= @bucket.description

%hr

- if @links.present?
  %h4= @links.length > 1 ? "#{@links.length} Links" : 'Link'
  - for @link in @links
    = render @link
  %hr

- if @images.present?
  %h4= @images.length > 1 ? "#{@images.length} Images" : 'Image'
  - for @image in @images
    = render @image
  %hr

- if @videos.present?
  %h4= @videos.length > 1 ? "#{@videos.length} Videos" : 'Video'
  - for @video in @videos
    = render @video
  %hr

- if @articles.present?
  %h4= @articles.length > 1 ? "#{@articles.length} Articles" : 'Article'

  = render 'main/links/_articles'