= render :_menu

= narrow 600 do

  - if @bucket.active
    %button.btn.btn-error.btn-sm.fr{ :onclick=>"delete_object('buckets', #{@bucket.id})" } Delete
  - else
    %button.btn.btn-sm.fr{ :onclick=>"restore_object('buckets', #{@bucket.id})" } Restore from archive


  %h2
    Edit bucket
    %small or <a href="#{@bucket.path}">go back</a>

  %p{ :style=>"margin-top:-5px;" }
  = render 'main/_tags', :object=>@bucket

  %hr

  .well
    = form @bucket, :ver do
      = input :name
      = input :image, :hint=>'Backgound image, upload to imgur.com'
      = input :description, :as=>:memo, :style=>"height:200px;"
      = submit 'Save'


  %hr

  = link_to 'Direct link', "#{@bucket.path}:#{Crypt.sha1(@bucket.id)}"
  for guest users. Send it to share bucket content

  %hr

  .well
    %h5 Linked buckets in colection

    %ul
      - for el in (@cb = Bucket.where('id in (?)', @bucket.child_buckets))
        %li
          %button.btn.btn-sm{ :style=>"margin-right:10px;", :onclick=>"Api.send('buckets/#{@bucket.id}/remove_bucket', { id:#{el.id} }, Pjax.refresh)" } x
          = el.as_link

    - if @cb.empty?
      .tip
        No linked buckets

    %br
    %br

    %h5 Belongs to

    %ul
      - for el in @bucket.c_buckets
        %li
          %button.btn.btn-sm{ :style=>"margin-right:10px;", :onclick=>"Api.send('buckets/#{el.id}/remove_bucket', { id:#{@bucket.id} }, Pjax.refresh)" } x
          = el.as_link

    - if @bucket.c_buckets.empty?
      .tip 
        Bucket is not part of any collection