= render :_menu

= narrow 600 do

  - if @bucket.active
    %button.btn.btn-error.btn-sm.fr{ :onclick=>"delete_object('buckets', #{@bucket.id})" } Delete
  - else
    %button.btn.btn-sm.fr{ :onclick=>"restore_object('buckets', #{@bucket.id})" } Restore from archive


  %h2
    Edit bucket
    %small or <a href="#{@bucket.path}">go back</a>

  .well
    = form @bucket, :ver do
      = input :name
      = input :bucket_id, :as=>:select, :collection=>Bucket.select('id,name').where('id<>?', @bucket.id).limit(200), :null=>'-'
      = input :description, :as=>:memo, :style=>"height:200px;"
      = submit 'Save'
    