= render :_menu

%div{ :style=>"background-color:#fff; padding-top:10px; border:1px solid #ddd; border-radius:4px; " }
  - if @bucket.image?
    = image_tag @bucket.image, :style=>"float:right; margin-bottom:-200px; max-height:110px; margin-right:50px;"
  %div{ :style=>"margin:10px 15px 5px 15px;" }
    %h2
      = @bucket.name
      %a.btn.show-on-hover{ :href=>@bucket.path(:edit), :style=>"float:right;" } edit

    %p{ :style=>"margin-top:-5px;" }
    = render 'main/_tags', :object=>@bucket

  %br.c

%hr

- if @belongs_to.present?
  Belongs to: 
  = @belongs_to.map{ |o| o.as_link }.to_sentence
  %br
  %br

%a.bucket.default{ :onclick=>"TopModal.app.select_bucket(#{@bucket.id})", :style=>"height:15px; text-decoration:none; font-weight:bold;" } + Add linked bucket

- for el in @buckets
  %a.bucket.default{ :style=>"height:15px; text-decoration:none;", :href=>el.path }= el.name.trim(30)

= paginate @all_links

%hr

= render "main/buckets/_show_#{@b_template}" rescue "Template <b>#{@b_template}</b> not found"