= render :_menu

.row.nudge
  .col-1
    %h2
      = @bucket.name
      %a.btn.show-on-hover{ :href=>@bucket.path(:edit) } edit

    %p{ :style=>"margin-top:-20px;" }
      Template: 
      = input :template, :collection=>['automatic', 'description'], :onchange=>%[Api.send('buckets/#{@bucket.id}/update', { template:this.value }, Pjax.refresh)], :value=>@bucket[:template]

  .col-1
    = render 'main/_tags', :object=>@bucket

%br.c

= render "main/buckets/_show_#{@bucket.template}"