= # template('link-list-compact', @articles)

%table.table
  %tbody
    - for el in @articles
      %tr
        %td
          %a{ :href=>"/domain/#{el.domain}" }= image_tag el.ico, :style=>'width:16px; height:16px;  '
        %td
          %a{ :href=>el.url, :target=>:_new }= link_thumb el, :style=>"width:150px; height:112px; border:1px solid #ccc;"
        %td
          %b= el.as_link
          %br
          %p
            %small= link_to el.url
          %small.gray #{Time.ago(el.created_at)} | #{link_to el.domain, "/domain/#{el.domain}"} | #{el.bucket.as_link}
          - if el.my_description?
            %p.desc{ :style=>"margin-top:10px; color:#080; font-weight:bold;" }= el.my_description
          - elsif el.description?
            %p.desc{ :style=>"margin-top:10px;" }= el.description

= paginate @articles if @articles.respond_to?(:paginate_page)