:coffee
  @create_and_select_bucket = (forma) ->
    Api.post 'buckets/create', form:forma, done: (ret) ->
      Pjax.refresh ->
        $('#step1, #step2').toggle();
        $('#bid').val(ret.data.id)


%h2 Add new link

%hr

%h6= params[:title]
%h6= link_to params[:url]

%hr

#step1
  %h3 Select bucket for a link

  %table
    %tr
      %td{ :style=>"width:250px;" }
        %form{ :onsubmit=>"$('#latest_buckets').load('/part/main/links/_latest_buckets_for_add?name='+$('#bname').val()); return false;" }
          %input#bname{ :type=>:text, :placeholder=>'search for bucket', :autocomplete=>:off }
          :javascript
            $('#bname').focus()

      %td{ :style=>"padding:0 20px;" } or create new one
      %td
        %form{ :onsubmit=>"create_and_select_bucket(this); return false;" }
          %input{ :type=>:text, :name=>:name, :placeholder=>'bucket name', :autocomplete=>:off }

  %br
  %br

  #latest_buckets= render 'main/links/_latest_buckets_for_add'

#step2.hidden
  %br
  .row
    .col-3
      - unless @link.id
        %h4
          create by tag
          %small (by using parametars in form)

        = labels Link.my.all_tags, lambda { |el| "javascript:Api.send('links/create', { name:$('#bm_name').val(), description:$('#bm_desc').val(), url:'#{params[:url]}', tag:'#{el}' }, function(){ Pjax.refresh() })" }

        %hr

      - if @links.empty?
        %p no bookmarks on domain
      - else
        %ul.list
          - for el in @links
            %li
              = link_to el.name.trim(100), el.path
              - if el.description
                %br
                %small= el.description

      - unless @exists_in.empty?
        %hr
        %h5 Exists in
        - for el in @exists_in
          = render el

    .col-4
      %h4 create using form
      - if @domain.description?
        = @domain.description.chomp.gsub(/\n/,'<br />')
        %hr

      = form @link, :template=>:hor, :done=>:redirect do
        = input :name, :id=>'bm_name', :value=>params[:title]
        = input :bucket_id, :id=>'bid', :collection=>Bucket.as_select
        = input :is_article, :as=>:checkbox
        = input :url
        = input :tags, :as=>:tag
        = input :my_description, :as=>:memo, :style=>"height:60px;"
        = input :description, :as=>:memo, :id=>'bm_desc', :style=>"height:95px;"
        = submit @link.id ? 'Update existing' : 'Create link' do
          or <a onclick="$('#step1, #step2').toggle();">select bucket</a> again.

      - unless @link.id
        :coffee
          Api.silent '/api/links/get_title', { url:'#{params[:url]}' }, (res) ->
            $('#bm_name').val(res.data.name) unless $('#bm_name').val()
            $('#bm_desc').val(res.data.description)



