= render :_menu

.nudge
  
  %h3= @link.name

  %p= link_to @link.url
  %p{ :style=>"margin-top:5px;" }
    domain:
    %a{ :href=>"/domain/#{@link.domain}" }= @link.domain
  
  %hr
  
  %div{ :style=>"height:50px; margin-top:5px;" }
    %div{ :style=>"float:left;" }= input :asda, :collection=>Bucket.can, :value=>@link.bucket_id, :onchange=>"Api.send('links/#{@link.id}/update', { bucket_id:this.value })"
    = link_to 'Edit', @link.path(:edit), :class=>'btn btn-sm', :style=>"position:relative; top:5px; margin-left:15px;"

  %br
  %br

.row
  .col-1
    %a{ :href=>@link.url }= image_tag @link.thumbnail, :style=>"max-width:100%;"
  .col-1
    = render 'main/_tags', :object=>@link

    - if @link.description?
      %hr

      .widget.description= @link.description



