.row.nudge
  .col-3
  .col-3
    %h2 Login

    .well
      = form '/api/users/login', :template=>:ver, :done=>"Pjax.load('/')" do
        = input :email
        = input :pass, :as=>:password
        = submit 'Prijava'

    %hr

    %h4 Signup and lost password

    .tip
      After you slick on the link that you will recieve via email, set password.

    .well
      = form '/api/users/signup', :template=>:ver do
        = input :email
        %button.btn{ 'disable-with'=>'Sending' } Send login link

  .col-3
