%form{ :style=>'float:right; width:330px; text-align:right;', :action=>Page.request.path }
  = input :q, :value=>params[:q]
  %button Search
  - if params[:q]
    %a.btn.btn-default{ :href=>request.path } x

%h1
  Notes
  %button.btn{ :onclick=>%[$(this).hide().parent().next().slideDown(200);] } +

.alert.alert-info.none
  = bs_form Note.new, :horizontal=>true, :done=>'refresh' do
    = bs_input :name
    = bs_submit 'Create new note', %[$(this).closest('.alert').hide().prev().find('button').show();]

%br

= table (@notes=Note.desc.like(params[:q], :name).paginate(20)), :class=>'table table-striped hover', :tr=>{ href:lambda { |el| el.path(:admin) } } do
  - row :id, :width=>40, :align=>:r, :name=>'ID'
  - row :name
  - row :creator

= paginate @notes