%form{ :style=>'float:right; width:330px; text-align:right;' }
  = input :q
  %button Search
  - if params[:q]
    %a.btn.btn-default{ :href=>request.path } x

%h1
  Users
  %button.btn{ :onclick=>%[$(this).hide().parent().next().slideDown(200);] } +

.alert.alert-info.none
  = bs_form User.new, :horizontal=>true, :done=>'refresh' do
    = bs_input :name
    = bs_input :email
    = bs_submit 'Create new user', %[$(this).closest('.alert').hide().prev().find('button').show();]

%br

= table User.desc.like(params[:q], :name).paginate(20), :class=>'table table-striped hover', :tr=>{ href:lambda { |el| el.path(:admin) } } do
  - row :id, :width=>40, :align=>:r, :name=>'ID'
  - row :is_admin, :width=>100, :align=>:c, :data=>lambda{ |o| o ? '<span style="color:#080;">YES</span>' : '-'; }
  - row :name
  - row :email
