= render '_menu'

%h2= @name

%a{ :href=>"/domain/#{@domain.name}" }= image_tag @domain.ico, :style=>"width:16px; heght:16px;"
%br
%br
%br

.row
  .col-350
    = image_tag @links[0].thumbnail, :style=>"width:100%; border:1px solid #ddd; background-color:#fff;"

    %br
    %br

    = form '/api/domains/set_domain_data', :ver do
      = input :d, :value=>@name, :as=>:hidden
      = input :description, :value=>@domain.description, :as=>:memo, :label=>'Domain description', :style=>"height:100px;"
      = submit 'Set domain description'


  .col-1
    %ul.list
      - for el in @links
        %li
          %b.bigger= el.as_link
          %br
          = link_to el.url
          %p.smaller #{Time.ago(el.created_at)} in #{el.bucket.as_link}
          - if el.description? 
            %hr{ :style=>"margin:5px 0; width:70%; min-width:200px;" }
            .widget.markdown= el.description
            %br

          %br

