= render :_menu

.row.nudge
  .col-3
    - if @note.active
      %button.btn.btn-error.btn-sm.fr{ :onclick=>"delete_object('notes', #{@note.id})" } Delete
    - else
      %button.btn.btn-sm.fr{ :onclick=>"restore_object('notes', #{@note.id})" } Restore from archive

    %h2
      Edit note
      %small or <a href="#{@note.path}">go back</a>

    .well
      = form @note, :ver do
        = input :name
        = input :data, :as=>:memo, :style=>"height:600px;"
        = submit 'Save'
      
  .col-1{ :style=>"padding-top:29px;" }
    .tip
      %h6 Pro tip

      %p It is encuraged to use hackpad.com, docs.google.com or similar service for keeping bigger douments. Notes are just for small documents.

