= render :_menu

.row.nudge
  .col-1
  .col-5
    / .widget.bucketSelect{ :value=>2 }= Bucket.can.json

    = input :asda, :collection=>Bucket.can, :value=>@note.bucket_id, :onchange=>"Api.send('notes/#{@note.id}/update', { bucket_id:this.value })"

    %br

    %div{ :style=>"position:relative;" }
      .bucket.note{ :style=>"width:100%; min-height:600px; padding:30px;" }
        %h3= @note.name

        %br

        .widget.markdown= @note.data

  .col-1{ :style=>"padding-top:53px;" }
    %a.btn.btn-sm{ :href=>@note.path(:edit) } Edit note
  
