%h3 Users in app

%ul
  - for user in @users
    %li= link_to user.email, "/user/#{user.id}"


%hr

- for user in @users
    
  .well{ :style=>"width:33%; float:left;"}
    = render :show, :@user=>user
    = Main::UserCell.part(:show, user.id)
    = cell(:user, :show, user.id)
