.row.nudge
  .col-3
  .col-3
    %h1 Login
    
    .well
      = form '/api/users/login', :template=>:ver, :done=>"Pjax.load('/')" do
        = input :email
        = input :pass, :as=>:password
        = submit 'Login'

    %hr

    %h3 signup or lost password

    .well
      = form '/api/users/signup', :template=>:ver do
        = input :email
        = submit 'Send me link to set password'


  .col-3

