.row.nudge
  .col-1
  .col-500
    %h2 Edit profile data



    .well
      = form User.current, :ver do
        = input :name
        = submit 'Save'

    %hr

    %h4 Change password

    .well
      = form "/api/users/set_password", :ver do
        = input :pass, :as=>:password
        = input :pass_confirm, :as=>:password
        = submit 'Save'
    
    %hr

    %h5 Add bookmarlt

    %p Just drag <a href="javascript:window.open('#{Page.host}/add?url='+escape(location.href)+'&title='+escape(document.title.replace(/[^\w\s\-_]/,''))+'&user_hash=#{User.current.token}')">this</a> link to bookmarks folder.

    %hr
    
    %h5 Tips

    %ul
      %li
        You can drag links to buckets by draging link image


  .col-1{ :style=>"padding-top:50px;" }
    %ul.vertical-links
      %li= link_to 'Log off', '/users/bye'
